@import "../SCSS/utilidades/variables";
@import "../SCSS/utilidades/mixins";

@import "base/base";
@import "base/reset";
@import "base/tipografia";


@import "layouts/header";
@import "layouts/footer";
@import "layouts/form";

html{
    min-height: 100%;
    position: relative;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    position: relative;
    padding-bottom: 340px;
}

@media (min-width:991px) {
    body{
        padding-bottom: 400px   ;
    }
}

@media (max-width:991px) {
    body{
        padding-bottom: 600px;
    }
}
@media (max-width:576px) {
    body{
        padding-bottom: 730px;
    }
}
@media (min-width:320px) and (max-width:377px) {
    body{
        padding-bottom: 840px;
    }
}