.info {
    .foto img {
        height: 400px;
        border-radius: 400px;
        margin-left: 10px;
    }

    .datos {
        color: $text-color;
        font-size: 20px;
        list-style: none;
        text-align: start;
        line-height: 100px;
        margin-top: 50px;
        padding: 0;
        display: inline-block;
        justify-content: center !important;
        color: $text-color;
    }

    .container {
        margin-top: 100px;
    }
}

.CV {
    margin-top: 200px;
    text-align: center;

    h2 {
        color: $text-color;
        margin-top: 100px;
        font-size: $h2-fontsize;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .card {
        margin-top: 50px;
        width: 680px;
        height: 1280px;
        background-color: gray;
        display: inline-block;
        box-shadow: $shadow;

        img {
            width: 600px;
            height: 1200px;
            display: block;
            border-radius: 10px;
            margin: 40px auto;
            box-shadow: $shadow;
        }
    }
}


main {
    h2 {
        color: $text-color;
        font-size: $h2-fontsize;
        text-shadow: $shadow;
        display: flex;
        justify-content: center;
        margin: 50px;
        font-weight: 700;
        margin-top: 50px;
    }

    .galeria {
        margin-top: 100px !important;
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(300px, 1fr));
        gap: 16px;
        margin: 30px;
        justify-items: center;

        img {
            width: 300px;
            height: 300px;
            background-color: rgb(170, 170, 170);
            padding: 20px;
            border-radius: 15px;
            box-shadow: $shadow;
            transition: 0.5s;
        }

        img:hover {
            transform: scale(1.2);
            background-color: rgb(24, 6, 18);

        }
    }
    h3{
        color: $text-color;
        text-align: center;
        text-transform: $mayus;
        font-size: $h2-fontsize;
        margin-top: 200px;
        font-weight: $bold;
    }
}

.proyectos{
    text-align: center;
    h2{
        text-transform: $mayus;
        font-size: $h2-fontsize;
        color: $text-color;
        font-weight: $bold;
        margin-top: 50px;
    }

    .p-1 iframe{
        margin-top: 30px;
        width: 100%;
        max-width: 800px;
        height: 700px;
        
    }
}