footer {
    box-shadow: $shadow;
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    background-color: $color1 !important;

    .container-fluid .redes .lista-redes {
        display: flex;
        justify-content: center;
        line-height: 100px;
    }

    a {
        margin-right: 20px;
    }

    h4,
    hr,
    p,
    li {
        color: $text-color;     
    }

    .Contactame .info-footer {
        display: flex;
        flex-direction: column;
        text-align: start;
        li{
            list-style: none;
        }
        span{
            margin-left: 10px;
        }

    }
}