@media (min-width:768px) {
    .form-container {
        display: flex;
        justify-content: center;
    }

    form {
        width: 678px;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 10px;
    }
}

.form-container {
    h2 {
        color: $text-color !important;
        font-size: $h2-fontsize;
        text-transform: $mayus;
    }

    form {
        margin: 50px;
        border-radius: 10px;
        box-shadow: $shadow;

        .labels {
            padding: 20px;
            font-size: 15px;
        }

        label {
            color: $text-color;
            margin-bottom: 30px;
        }

        input {
            color: $text-color !important;
            outline: none !important;
            background: inherit !important;
            border: none !important;
            border-bottom: 1px solid red !important;
        }

        textarea {
            color: $text-color !important;
            outline: none !important;
            background: inherit !important;
            border: none !important;
            border-bottom: 1px solid red !important;
            resize: none;
        }
        
        .btn-grad {
            background-image: linear-gradient(to right, #c51d18 0%, #b31217 51%, #e52d27 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: $centro;
            text-transform: $mayus;
            transition: 0.5s;
            background-size: 200% auto;
            color: $text-color;
            border-radius: 10px;
            display: block;
            border-width: 0;
            border-style: none;
            border-image: none;
        }

        .btn-grad:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }

        #name::placeholder {
            color: $text-color;
        }

        #phone::placeholder {
            color: $text-color;
        }

        #email::placeholder {
            color: $text-color;
        }

        #mensaje::placeholder {
            color: $text-color;
        }
    }
}