/* TEXTOS HEADER INDEX */
.textos-header {
    display: flex;
    flex-direction: column;
    background-color: $text-color;
    height: 300px;

    h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 100px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0 3px black;
    }

    .titulo {
        span {
            font-size: 30px;
            font-weight: 300;
            text-transform: none;
            display: block;

        }
    }
}

.navbar{
    box-shadow: $shadow;
    background-color: $color1;
    height: 80px;
}
nav {
    .nav-items {
        margin-right: 10px;
    }

    .nav-link {
        font-size: 20px;
        margin-right: 20px;
        color: $text-color;
    }

    .nav-link:hover{
        color: $color-hov;
    }

    .container-fluid {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .navbar-brand {
        font-size: 40px !important;
        font-weight: 500;
        color: $text-color !important;
    }
}


@media (max-width: 991px) {
    .sidebar {
        background-color: rgb(0, 0, 0) !important;
    }

    .off hr{
        color: $text-color;        
    }
}