$color1: rgba(72, 4, 75, 0.404);
$color-hov:rgb(215, 145, 255);
$color-hov-hab:rgb(24, 6, 18);
$color-bg-hab:#c2c2c2;
$text-color: #fff;

$h2-fontsize: 35px;
$mayus:uppercase;
$bold:700;

$shadow: 0 0 20px black;
$shadow2: 13px 13px 40px #0d0a23, -13px -13px 40px #110e2f;

$bg1:#3c2258;
$bg2:-webkit-linear-gradient(to right, #32295a, #1e0743);
$bg3:linear-gradient(to right, #32295a, #1e0743);
$centro: 0 auto;
$mb: 100px;
$mt: 100px;
$ml: 100px;
$mr: 100px;
$tcenter: center;
/* $grid: grid;
$template: repeat(auto-fit,
minmax(300px, 1fr));
$gap: 30px;
$centro: margin 0 auto;
$max: 1000px !important;
 */
